@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  box-sizing: border-box; /* ensure the size of elements are computed with padding and border included */
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh; /* Use 100% of viewport height */
  width: 95vw;
  margin: auto;
}

#loading-box {
  text-align: center;
  margin-top: 50vh;
}

.header {
  text-align: center;
  border-bottom: solid 1px;
}

button {
  padding: 8px;
  border: 0;
  cursor: pointer;
  background-color: #d3d3d3;
}

button:active {
  background-color: #a8a8a8;
}

button:disabled {
  cursor: default;
}

#pets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.panel-title {
  text-align: center;
  margin-bottom: 8px;
}

.panel-body img {
  border-radius: 10%;
}

.panel-body button {
  width: 100%;
}

.panel-pet {
  padding: 8px;
}

.panel-body {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.hidden {
  visibility: hidden;
}
